/*----------------------*\
    #HEADER
\*----------------------*/

.header-bootcamp-page {
    background-color: black;
}

.header-content__navbar.bootcamp-page a {
    display: flex;
    align-items: center;
    border: none;
}

.header-content__navbar.bootcamp-page span {
    margin-left: 80px;
}

.links__login.bootcamp-page a {
    color: black;
    font-weight: 600;
}

/*----------------------*\
    #SECTION-BOOTCAMPS
\*----------------------*/

.section-bootcamp-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-bootcamp-page div {
    max-width: 1426px;
    padding: 30px;
    width: 100%;
}

.bootcamp-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.bootcamp-grid div {
    background-color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-self: center;
}

.bootcamp-grid div a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bootcamps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.bootcamps span {
    border: 1px solid;
    border-radius: 50%;
    color: white;
    height: 40px;
    padding: 10px;
    text-align: center;
    width: 40px;
    margin-bottom: 20px;
}